.loader {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(#512DE4, transparent);
    animation: rotate 1s linear infinite;
}

.loader:before,
.loader::after {
    content: '';
    border-radius: 50%;
    position: absolute;
}

.loader:before {
    width: 72px;
    height: 72px;
    top: 9px;
    left: 9px;
    background-color: white;
}

.loader:after {
    height: 9px;
    width: 9px;
    background-color: #512DE4;
    top:0;
    left: 40px;
}

@keyframes rotate {
    from{ transform: rotateZ(0); }
    to{ transform: rotateZ(360deg); }
}