.input:focus {
    outline: 1px solid #9b14cc;
}

.input {
    min-width: 372px;
    min-height: 36px;
    border-radius: 5px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
}

.superInput {
    border: 1px solid #D1D1D1;
}

.errorInput {
    border: 1px solid #CC1439;
}

.errorInput:focus {
    outline: 1px solid #9b14cc;
}

.error {
    color: #CC1439;
    font-weight: 400;
    font-size: 10px;
}
