.tech {
    width: 25vw;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.developer {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.techHeader {
    width: 25vw;
    padding: 11px 0 10px 17px;
    display: inline-flex;
    gap: 7px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.41px;
}

.developerHeader {
    width: 25vw;
    padding: 11px 0 10px 8px;
    display: inline-flex;
    gap: 7px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.41px;
}

.row {
    display: flex;
    width: 33vw;
    height: 24px;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
}

.rowHeader {
    display: flex;
    width: 50vw;
    background: #E5E5E5;
}

.loading {

}