.App {
    --header_height: 60px;
}

.hw {
    max-width: 1280px;
    width: 100%;
    padding: 40px;
}

.hw1, .hw2, .hw3, .hw4, .hw5, .hw6, .hw7, .hw8, .hw9, .hw10, .hw11, .hw12, .hw13 {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.hwTitle {
    font-family: 'Monserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 0 auto;
}