.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.wrapper {
    display: flex;
    gap: 26px;
    align-items: center;
}

.number {
    font-weight: 600;
    font-size: 18px;
}

.slider {
    max-width: calc(100% - 100px);
}